* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
   
    
  }
  
  .swiper-container {
    width: 100%;
    min-height: 100vh;
    column-gap: 40px;
    padding: 60px 6%;
  
  }
  
  .swiper-container .side-info {
    margin: 20px 0;
  }
  
  .swiper-container .side-info span {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 16px;
    color: #717171;
  }
  
  .swiper-container .side-info h1 {
    text-transform: capitalize;
    letter-spacing: 0.8px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 56px;
    background-color: #005baa;
    background-image: linear-gradient(45deg, #005baa, #000000);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  
  .swiper-container .side-info hr {
    display: block;
    background: #005baa;
    height: 4px;
    width: 20%;
    margin: 18px 0;
  }
  
  .swiper-container a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #717171;
    font-weight: 500;
    background: #fff;
    border-radius: 50px;
    border: 2px solid #c2c2c2;
    padding: 8px 16px;
    margin-top: 20px;
    transition: 0.3s ease-in-out;
    
  }
  
  .swiper-container a:hover {
    border: 2px solid #005baa;
    color: #005baa;
  }
  
  .swiper-container .swiper {
    width: 100%;
  }
  
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    background: #fff;
  }
  
  .swiper-pagination {
    bottom: 20px !important;
  }
  
  .swiper-slide {
    width: 300px ;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: self-start;
  }
  
  .swiper-slide h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 10px;
    padding: 0 0 0 24px;
    text-transform: uppercase;
  }
  
  .swiper-slide p {
    color: #dadada;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    padding: 0 24px;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .swiper-slide a {
    margin: 20px 25px 50px !important;
    padding: 8px 16px !important;
    font-size: 14px;
    border: none;
  }
  
  .swiper-slide a:hover {
    border: none;
  }
  
  .swiper-slide div {
    display: none;
    opacity: 0;
    padding-bottom: 10px;
  }
  
  .swiper-slide-active div {
    display: block;
    opacity: 1;
  }
  
  .slide-one {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url('https://img.freepik.com/free-photo/smartphone-balancing-with-pink-background_23-2150271746.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1709769600&semt=sph') no-repeat 50% 50% / cover;
  }
  .slide-two {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url('https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2023/11/asus-vivobook-pro-16x-oled-2.png') no-repeat 50% 50% / cover;
  }
  
  .slide-three {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url('https://studdmuffyn.com/cdn/shop/files/4.1_415ec7e7-8393-4c41-bde0-54f741d8a771.jpg?v=1705928752&width=900') no-repeat 50% 50% / cover;
  }
  
  .slide-four {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url('https://beminimalist.co/cdn/shop/products/MarulaMoisturizer1200-2-min_2048x2048.png?v=1646585372') no-repeat 50% 50% / cover;
  }
  
  
  /* Responsive Design */
  @media (min-width: 800px) {
    .swiper-container {
      display: flex;
      align-items: center;
  }
  
    .swiper-container .side-info {
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 500px) {
    .swiper-container .side-info h1 {
      font-size: 46px;
    }
  
    .swiper-container .side-info p {
      font-size: 14px;
    }
  }