#product {
  padding: 50px 0;
}

.productHeading h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.productHeading ul {
  padding: 0;
  list-style: none;
}

.productHeading li {
  cursor: pointer;
  margin: 0 20px;
  transition: all 0.3s ease;
}

.productHeading li:hover {
  transform: translateY(-3px);
}

.productHeading a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.productHeading a.text-danger {
  color: #f00;
}

.productHeading a.text-black {
  color: #000;
}

.box-shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.box-shadow:hover {
  transform: translateY(-3px);
}

.card {
  border: none;
  height: 100%; 
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 10px;
}

.card-img-top {
  width: 100%;
  height: 250px; 
  object-fit: cover; 
}

.card-body {
  padding: 20px;
  height: 100%;
}

.text-danger {
  color: #f00;
}

.text-muted {
  color: #777;
}

.col-lg-3,
.col-md-6 {
  margin-bottom: 30px;
}
.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pagination-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  padding: 8px 16px;
  margin: 0 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-button:hover {
  background-color: #0056b3;
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.loader span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #068383; 
  margin: 0 3px;
  border-radius: 50%;
  animation: loaderAnimation 15.3s infinite ease-in-out;;
}
.loader .loader-wrapper span:nth-of-type(1) {
  animation-delay: 1000ms;
}
.loader .loader-wrapper span:nth-of-type(2) {
  animation-delay: 800ms;
}
.loader .loader-wrapper span:nth-of-type(3) {
  animation-delay: 600ms;
}
.loader .loader-wrapper span:nth-of-type(4) {
  animation-delay: 400ms;
}
.loader .loader-wrapper span:nth-of-type(5) {
  animation-delay: 200ms;
}
@keyframes loaderAnimation {
  0% {opacity: 0;
    transform: translateX(-300px);
    }
    33% {opacity: 1;
    transform: translateX(0px);
    }
    66% {opacity: 1;
    transform: translateX(0px);
    }
    100% {opacity: 0;
    transform: translateX(300px);
    }
  }